// Overlay
@mixin bg-overlay($img, $color: #000000) {
  background-image: linear-gradient(to-right, rgba($color, .9), rgba($color, .1)), url($img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// Background-images
@mixin bg-img($img) {
  background-image: url($img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// Transition
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease-in-out, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}

// buttons
@mixin btn($pd-y: 10px, $pd-x: 15px, $bg: #000, $color: #fff) {
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  padding: $pd-y $pd-x;
  background: $bg;
  color: $color
}

// center
@mixin center($axis: "both") {
  @if $axis =="both" or $axis =="vertical" {
    top: 50%;
  }

  @if $axis =="both" or $axis =="horizontal" {
    left: 50%;
  }

  transform: if($axis =="horizontal", translateX(-50%), if($axis =="both", translateX(-50%), null)) if($axis =="vertical", translateY(-50%), if($axis =="both", translateY(-50%), null));
}

// Circle
@mixin circle($size) {
  width: $size;
  height: $size;
  display: inline-block;
  border-radius: 100%;
}

// Square
@mixin square($size) {
  width: $size;
  height: $size;
}
